* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    background-color: #575757;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}


.container {
    background-color: #575757;
    width: 100%;
    max-width: 800px;
    border: 2px solid #e1e1e6;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.instructions {
    margin-top: 10px;
}

.question-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.answer-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

button {
    background-color: #4863f7;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(0.8);
}

.hide {
    display: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.final-message {
    font-size: 20px;
    text-align: center;
}

.final-message span {
    display: block;
    margin-top: 8px;
}

.difficulty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.difficulty-container.hide {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-text {
    color: black;
}

.macaco {
    width: 100px;
    height: auto;
}

.macaco-direito {
    position: absolute;
    right: 24%;
    top: 52%;
    transform: translateY(-50%);
    margin-right: 0;
    z-index: -1;
}
